{% extends "layout.html" %}
{% block body %}
<body style="background-color:#ffffbc"></body>
<section class="ftco-section">
    <div class="container">
        {% for coursename in course_name %}
        <h2>{{coursename.name}} :</h2>
        <p>{{coursename.description}}</p>
        <h6>Course Length : {{coursename.length}} </h6>
        {% endfor %}
        <div class="column">


            <ol>
            {% for coursedetail in sub_course %}
                {% for coursename in course_name %}
            <div class="col-md-6 course d-lg-flex ftco-animate">

                <div class=" text bg-light-list p-4">
                    
                        <li>
                            <h5><a
                                    href="{% url 'courses:course-content' coursename=coursename.name pk=coursedetail.pk %}">{{coursedetail.sub_name}}</a>
                            </h5>
                        </li>

                    
                </div>
            </div>
                {% endfor %}
            {% endfor %}
        </ol>





        </div>
    </div>
</section>
{% endblock body %}