{% extends "layout.html" %}
{% block title %}
<title>Course | Russian Matryoshka</title>
{% endblock title %}
{% block body %}
<body style="background-color:#f77f00">

  

<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% for courses in object_list %}
            <div class="col-md-6 course d-lg-flex ftco-animate">
               
               <img class="img" src="{{courses.image_course.url}}" alt="">
               
                <div class="text bg-light p-4">
                    <h3><a href="#">{{courses.name}}</a></h3>
                    <p class="subheading"><span>Course Length:</span>{{courses.length}}</p>
                    <p>{{courses.description}}</p>
                </div>
              
            </div>
            {% endfor %}
        
        </div>
    </div>
</section>
</body>

{% endblock body %}
