{% extends "layout.html" %}
{% block title %}
<title>Teacher | Russian Matryoshka</title>
{% endblock title %}
{% block body %}
<body style="background-color:#eb7680">

		
		<section class="ftco-section ftco-no-pb">
			<div class="container d-flex justify-content-center">
				<div class="row">
					<div class="ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/teacher-1.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Bianca Wilson</h3>
								<span class="position mb-2">Teacher</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


</body>
  
{% endblock body %}